<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pftqg.frontendserver</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/usr/local/bin/frontendserver</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/usr/local/frontendserver</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>FES_CONFIG</key>
    <string>/usr/local/frontendserver/router.json</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/var/log/frontendserver.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/frontendserver.err.log</string>
</dict>
</plist>